#products_and_services input,
#products_and_services input {
    margin-left: 0;
}

#products_and_services th,
#products_and_services td {
    vertical-align: middle;
}

#InvoiceHeader {
    width: 99%;
}

#InvoiceHeader tbody td {
    vertical-align: top;
}

#InvoiceHeader tbody td.datefield {
    width: 280px;
    white-space: nowrap;
}

#InvoiceHeader tbody td div {
    margin-top: 8px;
    margin-bottom: 8px;
}

#Notes {
    width: 99%;
}

#InvoiceItems {
    width: 99%;
    margin-right: 1em;
}

#InvoiceItems thead th {
    text-align: left;
    font-weight: normal;
}

#InvoiceItems thead th.delete {
    width: 20px;
}

#InvoiceItems thead th.unit,
#InvoiceItems thead th.quantity,
#InvoiceItems thead th.price {
    width: 1%;
    padding-right: 5px;
}

#InvoiceItems thead th.total {
    width: 60px;
}

.table-header {
    background-color: #008FB4;
    color: white;
}

#InvoiceItems tbody td {
}

#InvoiceItems td {
    margin: 0;
    vertical-align: top;
}

#InvoiceItems .amount,
#InvoiceCalculations .amount {
    text-align: right;
    white-space: nowrap;
    padding-right: 5px;
}

#InvoiceItems textarea.Description  {
    width: 99%;
}

#InvoiceItems textarea,
#InvoiceItems input {
    background: #f6f6f6;
    border: 1px solid black ;
}

.newline {
    padding: 0.5em 0 0.5em 0;
    font-size: 11px;
    font-weight: bold;
}

a#additem {
    text-decoration: none;
}

a#additem img {
    padding: 0.2em;
}

img.delitem,
a#additem,
a#additem img {
    cursor: pointer;
}

img.delitem {
    padding: 0.3em;
}

#InvoiceTotals {
    margin: 0 0 20px;
    margin-right: 1em;
    width: 99%;
}

#InvoiceTotals th {
    text-align: right;
    line-height: 20px;
}

#InvoiceTotals td {
    width: 40px;
    padding-left: 20px;
    text-align: right;
    line-height: 20px;
    white-space: nowrap;
}

div#content div.selectpackage fieldset {
    border: medium none;
}

div.selectpackage ol li {
    font-weight: normal;
}

.ordertotal {
    font-size: 25pt;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    width: 100%;
}

.orderitem a {
    border: none;
}
